/* Aula inicial :D */
body {
        
    font-family: "Courier New", Courier, monospace;
      
  }
  
  a {
    color: teal;
    text-decoration: none;  
  }
  
  a:hover {
    text-decoration: underline;
  }

  .bg-image {
    /*background:#dd77ff;*/
    background-image: url('../Imagens/Body_Background.png');
    background-size: auto 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(8px);
    -webkit-filter:blur(8px);
    /* Full height */
    height: 100vh;
  }

  .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

  
  .menu ul {
   display: flex;
   justify-content: space-around;
  }
  
  .menu li{
   list-style: none;
  }
  
  #menu_principal {
    background-color: white;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }
  
  